/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
@font-face {
  font-family: "Flaticon";
  src: url('../fonts/flaticon.eot');
  src: url('../fonts/flaticon.eot#iefix') format("embedded-opentype"), url('../fonts/flaticon.woff') format("woff"), url('../fonts/flaticon.ttf') format("truetype"), url('../fonts/flaticon.svg') format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 16, ../sass/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: Flaticon;
  font-size: 17px;
  font-style: normal;
  margin: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 17px;
  border-bottom: 0;
  display: inline-block;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

/* line 28, ../sass/_icons.scss */
.icon-bath1:before {
  content: "\e000"; }

/* line 31, ../sass/_icons.scss */
.icon-bookmark:before {
  content: "\e001"; }

/* line 34, ../sass/_icons.scss */
.icon-chevron11:before {
  content: "\e002"; }

/* line 37, ../sass/_icons.scss */
.icon-create1:before {
  content: "\e003"; }

/* line 40, ../sass/_icons.scss */
.icon-eating:before {
  content: "\e004"; }

/* line 43, ../sass/_icons.scss */
.icon-help5:before {
  content: "\e005"; }

/* line 46, ../sass/_icons.scss */
.icon-help7:before {
  content: "\e006"; }

/* line 49, ../sass/_icons.scss */
.icon-lock24:before {
  content: "\e007"; }

/* line 52, ../sass/_icons.scss */
.icon-mini9:before {
  content: "\e008"; }

/* line 55, ../sass/_icons.scss */
.icon-mobile41:before {
  content: "\e009"; }

/* line 58, ../sass/_icons.scss */
.icon-shower2:before {
  content: "\e00a"; }

/* line 61, ../sass/_icons.scss */
.icon-star51:before {
  content: "\e00b"; }

/* line 64, ../sass/_icons.scss */
.icon-tap1:before {
  content: "\e00c"; }

/* line 67, ../sass/_icons.scss */
.icon-user3:before {
  content: "\e00d"; }

/* line 70, ../sass/_icons.scss */
.icon-wifi42:before {
  content: "\e00e"; }
