/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/*l * 100 / 1024*/
@media screen and (min-width: 30.11765em) {
  /* GENERAL */
  /* END GENERAL */
  /* HOME */
  /* line 8, ../sass/_responsive.scss */
  .home {
    /* KOTS */
    /* END KOTS */ }
    /* line 9, ../sass/_responsive.scss */
    .home .onePeople {
      width: 47.65625%;
      margin-left: 1.17188%;
      margin-right: 1.17188%;
      float: left;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 382, ../sass/_mixin.scss */
      .home .onePeople:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    /* line 17, ../sass/_responsive.scss */
    .home .kots .kot .mainInfos {
      margin-bottom: 0;
      height: 80%; }
      /* line 20, ../sass/_responsive.scss */
      .home .kots .kot .mainInfos .photo {
        height: auto; }
      /* line 27, ../sass/_responsive.scss */
      .home .kots .kot .mainInfos .content p {
        font-size: 0.9em; }
      /* line 31, ../sass/_responsive.scss */
      .home .kots .kot .mainInfos .special {
        width: 100%;
        margin: auto;
        display: block;
        float: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 357, ../sass/_mixin.scss */
        .home .kots .kot .mainInfos .special:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        /* line 34, ../sass/_responsive.scss */
        .home .kots .kot .mainInfos .special .spe:before {
          font-size: 1.435em; }
    /* line 42, ../sass/_responsive.scss */
    .home .kots .kot .addInfos .star:after {
      display: block;
      height: 100%;
      visibility: visible; }

  /* END HOME */ }
@media screen and (min-width: 47.05882em) {
  /* HOME */
  /* BANNER */
  /* line 67, ../sass/_responsive.scss */
  .addInfos .topInfos {
    float: right; }
  /* line 70, ../sass/_responsive.scss */
  .addInfos .topLinks {
    display: block;
    float: left; }

  /* line 75, ../sass/_responsive.scss */
  .logo {
    float: left; }

  /* line 78, ../sass/_responsive.scss */
  .nav {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 12px; }
    /* line 357, ../sass/_mixin.scss */
    .nav:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* line 83, ../sass/_responsive.scss */
  .whatWeDo {
    line-height: 1;
    display: inline-block;
    margin: auto;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    font-style: italic;
    margin: 0 12px;
    float: left; }

  /* line 95, ../sass/_responsive.scss */
  .profilItem {
    width: auto;
    float: right; }

  /* END BANNER */
  /* INFOS */
  /* line 102, ../sass/_responsive.scss */
  .home .infos {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 382, ../sass/_mixin.scss */
    .home .infos:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END INFOS */
  /* END HOME */ }
@media screen and (min-width: 45.17647em) {
  /* GENERAL */
  /* line 111, ../sass/_responsive.scss */
  .mainTitle {
    font-size: 2.618em; }

  /* END GENERAL */
  /* HOME */
  /* line 118, ../sass/_responsive.scss */
  .home .onePeople {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 382, ../sass/_mixin.scss */
    .home .onePeople:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END HOME */ }
@media screen and (min-width: 50.58824em) {
  /* HOME */
  /* line 128, ../sass/_responsive.scss */
  .home .kots {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 357, ../sass/_mixin.scss */
    .home .kots:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 131, ../sass/_responsive.scss */
  .home .kotsByCities {
    display: block;
    margin-top: 93px;
    width: 36.32813%;
    float: left;
    margin-left: 1.17188%;
    margin-right: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 430, ../sass/_mixin.scss */
    .home .kotsByCities:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 135, ../sass/_responsive.scss */
    .home .kotsByCities .photo {
      max-height: 160px; }

  /* END HOME */ }
@media screen and (min-width: 52.94118em) {
  /* HOME */
  /* line 146, ../sass/_responsive.scss */
  .home .kots {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 357, ../sass/_mixin.scss */
    .home .kots:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 149, ../sass/_responsive.scss */
  .home .kot {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 382, ../sass/_mixin.scss */
    .home .kot:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 152, ../sass/_responsive.scss */
  .home .kotsByCities {
    display: block;
    width: 32.16146%;
    float: left;
    margin-left: 1.17188%;
    margin-right: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 430, ../sass/_mixin.scss */
    .home .kotsByCities:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 155, ../sass/_responsive.scss */
    .home .kotsByCities .photo {
      max-height: 200px; }
      /* line 157, ../sass/_responsive.scss */
      .home .kotsByCities .photo img {
        min-height: 100%; }

  /* END HOME */ }
@media screen and (min-width: 60.23529em) {
  /* HOME */
  /* line 168, ../sass/_responsive.scss */
  .home .onePeople {
    width: 22.65625%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 382, ../sass/_mixin.scss */
    .home .onePeople:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* line 172, ../sass/_responsive.scss */
  .kotsByCities {
    display: block; }
    /* line 175, ../sass/_responsive.scss */
    .kotsByCities .city .photo {
      max-height: 200px; }

  /* END HOME */ }
