/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/*l * 100 / 1024*/
@media screen and (min-width: 30.11765em) {
  /* GENERAL */
  /* END GENERAL */
  /* NAV */
  /* END NAV */
  /* HOME */
  /* line 12, ../sass/_responsive.scss */
  .home {
    /* KOTS */
    /* END KOTS */ }
    /* line 13, ../sass/_responsive.scss */
    .home .onePeople {
      width: 47.65625%;
      margin-left: 1.17188%;
      margin-right: 1.17188%;
      float: left;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 436, ../sass/_mixin.scss */
      .home .onePeople:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    /* line 21, ../sass/_responsive.scss */
    .home .kots .kot .mainInfos {
      margin-bottom: 0;
      height: 80%; }
      /* line 24, ../sass/_responsive.scss */
      .home .kots .kot .mainInfos .photo {
        height: auto; }
      /* line 31, ../sass/_responsive.scss */
      .home .kots .kot .mainInfos .content p {
        font-size: 0.9em; }
      /* line 35, ../sass/_responsive.scss */
      .home .kots .kot .mainInfos .special {
        width: 100%;
        margin: auto;
        display: block;
        float: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 411, ../sass/_mixin.scss */
        .home .kots .kot .mainInfos .special:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        /* line 38, ../sass/_responsive.scss */
        .home .kots .kot .mainInfos .special .spe:before {
          font-size: 1.435em; }
    /* line 46, ../sass/_responsive.scss */
    .home .kots .kot .addInfos .star:after {
      display: block;
      height: 100%;
      visibility: visible; }

  /* END HOME */ }
@media screen and (min-width: 47.05882em) {
  /* GENERAL */
  /* line 69, ../sass/_responsive.scss */
  .titlePopup {
    font-size: 2.168em; }

  /* END GENERAL */
  /* HOME */
  /* BANNER */
  /* line 77, ../sass/_responsive.scss */
  .addInfos .topInfos {
    float: right; }
  /* line 80, ../sass/_responsive.scss */
  .addInfos .topLinks {
    display: block;
    float: left; }

  /* line 89, ../sass/_responsive.scss */
  .banner .nav {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 12px;
    margin-top: 0; }
    /* line 411, ../sass/_mixin.scss */
    .banner .nav:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* line 96, ../sass/_responsive.scss */
  .whatWeDo {
    line-height: 1;
    display: inline-block;
    margin: auto;
    font-size: 1em;
    font-style: italic;
    margin: 0 12px;
    line-height: 1;
    height: auto; }

  /* line 108, ../sass/_responsive.scss */
  .profilItem {
    width: auto; }

  /* END BANNER */
  /* INFOS */
  /* line 115, ../sass/_responsive.scss */
  .home .infos {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 436, ../sass/_mixin.scss */
    .home .infos:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END INFOS */
  /* END HOME */
  /* POPUP */
  /* line 123, ../sass/_responsive.scss */
  .country-french {
    height: 188px; }

  /* line 126, ../sass/_responsive.scss */
  .country-english {
    height: 188px; }

  /* line 129, ../sass/_responsive.scss */
  .country-neederlands {
    height: 188px; }

  /* line 132, ../sass/_responsive.scss */
  .country-text {
    display: inline-block; }

  /* line 135, ../sass/_responsive.scss */
  .lang-choice {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 436, ../sass/_mixin.scss */
    .lang-choice:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END POPUP */ }
@media screen and (min-width: 45.17647em) {
  /* GENERAL */
  /* line 143, ../sass/_responsive.scss */
  .mainTitle {
    font-size: 2.618em; }

  /* END GENERAL */
  /* HOME */
  /* line 150, ../sass/_responsive.scss */
  .home .onePeople {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 436, ../sass/_mixin.scss */
    .home .onePeople:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END HOME */ }
@media screen and (min-width: 50.58824em) {
  /* HOME */
  /* line 160, ../sass/_responsive.scss */
  .home .kots {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 411, ../sass/_mixin.scss */
    .home .kots:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 163, ../sass/_responsive.scss */
  .home .kotsByCities {
    display: block;
    margin-top: 93px;
    width: 36.32813%;
    float: left;
    margin-left: 1.17188%;
    margin-right: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 484, ../sass/_mixin.scss */
    .home .kotsByCities:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 167, ../sass/_responsive.scss */
    .home .kotsByCities .photo {
      max-height: 160px; }

  /* END HOME */ }
@media screen and (min-width: 52.94118em) {
  /* BANNER */
  /* line 176, ../sass/_responsive.scss */
  .logo {
    float: left; }

  /* line 179, ../sass/_responsive.scss */
  .whatWeDo {
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    vertical-align: baseline; }

  /* line 186, ../sass/_responsive.scss */
  .menu {
    float: right; }

  /* END BANNER */
  /* HOME */
  /* line 193, ../sass/_responsive.scss */
  .home .kots {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 411, ../sass/_mixin.scss */
    .home .kots:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 196, ../sass/_responsive.scss */
  .home .kot {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 436, ../sass/_mixin.scss */
    .home .kot:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 199, ../sass/_responsive.scss */
  .home .kotsByCities {
    display: block;
    width: 32.16146%;
    float: left;
    margin-left: 1.17188%;
    margin-right: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 484, ../sass/_mixin.scss */
    .home .kotsByCities:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 202, ../sass/_responsive.scss */
    .home .kotsByCities .photo {
      max-height: 200px; }
      /* line 204, ../sass/_responsive.scss */
      .home .kotsByCities .photo img {
        min-height: 100%; }

  /* END HOME */ }
@media screen and (min-width: 60.23529em) {
  /* HOME */
  /* line 215, ../sass/_responsive.scss */
  .home .onePeople {
    width: 22.65625%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 436, ../sass/_mixin.scss */
    .home .onePeople:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* line 219, ../sass/_responsive.scss */
  .kotsByCities {
    display: block; }
    /* line 222, ../sass/_responsive.scss */
    .kotsByCities .city .photo {
      max-height: 200px; }

  /* END HOME */ }
