/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/*l * 100 / 1024*/
@media screen and (min-width: 30.11765em) {
  /* GENERAL */
  /* line 5, ../sass/_responsive.scss */
  .titleKot {
    text-align: left; }

  /* END GENERAL */
  /* HOME */
  /* line 10, ../sass/_responsive.scss */
  .home {
    /* KOTS */
    /* END KOTS */ }
    /* line 11, ../sass/_responsive.scss */
    .home .onePeople {
      width: 47.65625%;
      margin-left: 1.17188%;
      margin-right: 1.17188%;
      float: left;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 408, ../sass/_mixin.scss */
      .home .onePeople:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    /* line 17, ../sass/_responsive.scss */
    .home .kots .kot {
      height: 210px; }
      /* line 19, ../sass/_responsive.scss */
      .home .kots .kot .mainInfos {
        margin-bottom: 0;
        height: 80%; }
        /* line 22, ../sass/_responsive.scss */
        .home .kots .kot .mainInfos .photo {
          width: 30.98958%;
          margin-left: 1.17188%;
          margin-right: 1.17188%;
          float: left;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          height: auto; }
          /* line 408, ../sass/_mixin.scss */
          .home .kots .kot .mainInfos .photo:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
        /* line 26, ../sass/_responsive.scss */
        .home .kots .kot .mainInfos .content {
          width: 47.65625%;
          margin-left: 1.17188%;
          margin-right: 1.17188%;
          float: left;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          max-height: 100%;
          text-align: left; }
          /* line 408, ../sass/_mixin.scss */
          .home .kots .kot .mainInfos .content:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
          /* line 33, ../sass/_responsive.scss */
          .home .kots .kot .mainInfos .content p {
            font-size: 0.9em; }
        /* line 37, ../sass/_responsive.scss */
        .home .kots .kot .mainInfos .special {
          width: 14.32292%;
          margin-left: 1.17188%;
          margin-right: 1.17188%;
          float: left;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          /* line 408, ../sass/_mixin.scss */
          .home .kots .kot .mainInfos .special:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
          /* line 39, ../sass/_responsive.scss */
          .home .kots .kot .mainInfos .special .spe {
            float: left;
            margin: 0; }
            /* line 42, ../sass/_responsive.scss */
            .home .kots .kot .mainInfos .special .spe:before {
              font-size: 1.435em; }
      /* line 49, ../sass/_responsive.scss */
      .home .kots .kot .addInfos .star {
        width: 22.65625%;
        margin-left: 1.17188%;
        margin-right: 1.17188%;
        float: left;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 408, ../sass/_mixin.scss */
        .home .kots .kot .addInfos .star:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        /* line 51, ../sass/_responsive.scss */
        .home .kots .kot .addInfos .star:after {
          display: block;
          height: 100%;
          visibility: visible; }
      /* line 57, ../sass/_responsive.scss */
      .home .kots .kot .addInfos .howMuch {
        width: 22.65625%;
        margin-left: 1.17188%;
        margin-right: 1.17188%;
        float: left;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 408, ../sass/_mixin.scss */
        .home .kots .kot .addInfos .howMuch:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        /* line 59, ../sass/_responsive.scss */
        .home .kots .kot .addInfos .howMuch:after {
          content: "";
          height: 100%;
          width: 1px;
          background-color: #bfbfbf;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          visibility: visible; }
      /* line 68, ../sass/_responsive.scss */
      .home .kots .kot .addInfos .locateBy {
        width: 47.65625%;
        margin-left: 1.17188%;
        margin-right: 1.17188%;
        float: left;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-top: 0; }
        /* line 408, ../sass/_mixin.scss */
        .home .kots .kot .addInfos .locateBy:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }

  /* END HOME */ }
@media screen and (min-width: 47.05882em) {
  /* HOME */
  /* BANNER */
  /* line 86, ../sass/_responsive.scss */
  .addInfos .topInfos {
    float: right; }
  /* line 89, ../sass/_responsive.scss */
  .addInfos .topLinks {
    display: block;
    float: left; }

  /* line 94, ../sass/_responsive.scss */
  .logo {
    float: left; }

  /* line 97, ../sass/_responsive.scss */
  .nav {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 12px; }
    /* line 383, ../sass/_mixin.scss */
    .nav:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* line 102, ../sass/_responsive.scss */
  .whatWeDo {
    line-height: 1;
    display: inline-block;
    margin: auto;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    font-style: italic;
    margin: 0 12px;
    float: left; }

  /* line 114, ../sass/_responsive.scss */
  .profilItem {
    width: auto;
    float: right; }

  /* END BANNER */
  /* INFOS */
  /* line 121, ../sass/_responsive.scss */
  .home .infos {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 408, ../sass/_mixin.scss */
    .home .infos:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END INFOS */
  /* END HOME */ }
@media screen and (min-width: 45.17647em) {
  /* GENERAL */
  /* line 130, ../sass/_responsive.scss */
  .mainTitle {
    font-size: 2.618em; }

  /* END GENERAL */
  /* HOME */
  /* line 137, ../sass/_responsive.scss */
  .home .onePeople {
    width: 30.98958%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 408, ../sass/_mixin.scss */
    .home .onePeople:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END HOME */ }
@media screen and (min-width: 50.58824em) {
  /* HOME */
  /* line 147, ../sass/_responsive.scss */
  .home .kots {
    width: 61.32813%;
    float: left;
    margin-left: 0;
    margin-right: 1.17188%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 443, ../sass/_mixin.scss */
    .home .kots:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 150, ../sass/_responsive.scss */
  .home .kotsByCities {
    display: block;
    margin-top: 93px;
    width: 36.32813%;
    float: left;
    margin-left: 1.17188%;
    margin-right: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 456, ../sass/_mixin.scss */
    .home .kotsByCities:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 154, ../sass/_responsive.scss */
    .home .kotsByCities .photo {
      max-height: 160px; }

  /* END HOME */ }
@media screen and (min-width: 52.94118em) {
  /* HOME */
  /* line 165, ../sass/_responsive.scss */
  .home .kots {
    width: 65.49479%;
    float: left;
    margin-left: 0;
    margin-right: 1.17188%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 443, ../sass/_mixin.scss */
    .home .kots:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  /* line 168, ../sass/_responsive.scss */
  .home .kotsByCities {
    display: block;
    width: 32.16146%;
    float: left;
    margin-left: 1.17188%;
    margin-right: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 456, ../sass/_mixin.scss */
    .home .kotsByCities:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 171, ../sass/_responsive.scss */
    .home .kotsByCities .photo {
      max-height: 200px; }
      /* line 173, ../sass/_responsive.scss */
      .home .kotsByCities .photo img {
        min-height: 100%; }

  /* END HOME */ }
@media screen and (min-width: 60.23529em) {
  /* HOME */
  /* line 184, ../sass/_responsive.scss */
  .home .onePeople {
    width: 22.65625%;
    margin-left: 1.17188%;
    margin-right: 1.17188%;
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 408, ../sass/_mixin.scss */
    .home .onePeople:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* line 188, ../sass/_responsive.scss */
  .kotsByCities {
    display: block; }
    /* line 191, ../sass/_responsive.scss */
    .kotsByCities .city .photo {
      max-height: 200px; }

  /* END HOME */ }
