@import "functions";
@mixin wrapper() {
  .wrapper {
    max-width: $mw;
    overflow: hidden;
    margin: auto;
    height: auto;
    box-sizing: border-box;
    @include c(12);
    //margin-bottom: 1em;
    &:after {
      @include clear();
    }
  }
}
@mixin a( $color:$mc, $type: dotted, $none:"" ){


  @if($none!="none"){
    border-bottom: 1px #{$type} #{$color};
    position: relative;
    overflow:visible;
    color: #{$color};
    text-decoration: none;
    display: inline;
    @include transition(all 0.3s ease);
    &:after{
      content:"";
      @include opacity(0);
      @include abs-right();
      @include box-sizing(border-box);
      right: -2px;
      border-right: 1px solid #{$color};
      @include transition(all 0.3s ease);
    }
    &:before{
      content:"";
      @include abs-left();
      @include opacity(0);
      @include box-sizing(border-box);
      left: -2px;
      border-left: 1px solid #{$color};
      @include transition(all 0.3s ease);
    }
    &:hover,&:focus,&:active{
      text-decoration: none;
      border-bottom: 1px #{$type} transparent;
      &:after{
        @include opacity(1);
        @include transition(all 0.3s ease);
      }
      &:before{
       @include opacity(1);

       @include transition(all 0.3s ease);
     }

   }
 }@else{
  border-bottom:0;
  &:before{
    border-left: 0;
    left:auto;
    @include opacity(1);
  }
  &:after{
    content:none;
    border-right: 0;
    right:auto;
    @include opacity(1);
  }
  &:hover,&:focus,&:active{
    border-bottom: 0;
  }
}
}
@mixin body() {
  body {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color: $tc;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  em {
    font-style: italic;
  }
  b{
    font-weight: bold;
  }
  html {
    height: 100%;
    min-height: 100%;
  }
  p {
    margin:0 0 1em 0;
    line-height: 1.5;
    font-family: $ff;
  }
}

@mixin btn(){
  .btn{
    color:white;
    padding:5px 10px;
    display:inline-block;
    text-decoration: none;
    @include border-radius(5% 5%);

    &:hover,&:focus,&:active{
      @include box-shadow(rgba(0,0,0,0.2)0 0 6px 2px);
      .no-boxshadow &{
        background-color: darken($gMain,10%);
      }

    }
  }

}
@mixin mhb-p($height, $item) {
  background-color: $grey;
  background: linear-gradient(to bottom, #efefef 0, #cdcdcd 100%);
  color: white;
  position: fixed;
  width: 100%;
  @include box-sizing(border-box);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: $height+px;
  outline: 1px solid $grey;
  ul {
    width: 100%;
    height: $height+px;
    text-align: center;
    padding: 0;
    margin: auto;
    li, ol {
      width: (100% / $item) - 2%;
      display: inline-block;
      height: 100%;
      vertical-align: baseline;
      border-left: 1px solid $grey;

      //position:relative;
      a {
        display: block;
        //height:100%;
        //padding-top:8px;
        height: auto;
        text-decoration: none;
        color: white;
        font-weight: bold;
        @include box-sizing(border-box);
        border-top: 5px solid #efefef;
        &:hover, &:focus {
          // background-color: darken($greyDH,2%);
          @include box-sizing(border-box);
          border-top: 5px solid darken($greyDH, 20%);
          outline: none;
        }
      }
    }
    li:first-child, ol:first-child {
      border-left: 0;
    }
    li + li, ol + ol {
      //margin-left: 1%;
    }
  }
}
@mixin boxShadow(){
 background-color: white;
 padding:1em;
 @include border-radius(5px);
 border:1px solid $greyL2;
 @include box-shadow( rgba($greyL2,0.7) 2px 2px 6px 0);
}
@mixin mb(){
   background: rgb(53,160,198); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1YTBjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OGFjY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(53,160,198,1) 0%, rgba(88,172,203,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,160,198,1)), color-stop(100%,rgba(88,172,203,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(53,160,198,1) 0%,rgba(88,172,203,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(53,160,198,1) 0%,rgba(88,172,203,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(53,160,198,1) 0%,rgba(88,172,203,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(53,160,198,1) 0%,rgba(88,172,203,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a0c6', endColorstr='#58accb',GradientType=0 ); /* IE6-8 */
}
@mixin form(){
  .errors{
    display:block;
    background-color: $errorBackground;
    padding:1em;
    border:1px solid red;
    margin:1em;
  }
  .informations{
    display:block;
    box-sizing:border-box;
    font-size: 0.8em;
    background-color: $infosBackground;
    padding:1em;
    @include c(12);
    border:1px solid darken(yellow,10%);
    margin-bottom: 0.5em;
  } 
  .success{
    display:block;
    font-size: 0.8em;
    background-color: $succesBackground;
    padding:1em;
    border:1px solid green;
    margin:1em;
  }
  .mainType{
    ::-webkit-input-placeholder {
      font-size: 0.9em;
      color:$greyD;
      font-weight: 300;
    }

:-moz-placeholder { /* Firefox 18- */
  font-size: 0.9em;
  color:$greyD;
  font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 0.9em;
  color:$greyD;
  font-weight: 300;
}

:-ms-input-placeholder {  
  font-size: 0.9em;
  color:$greyD;
  font-weight: 300; 
}
.field{
  margin-bottom: $gutter/2;
}
label{
  display:block;
}
input{
  @include c(12);
  background-color: $greyL;
  height: 40px;
  color:$tc;
  font-size: 1.1em;
  border:2px solid $greyL2;
  padding:5px;
  &:after{
    font-family: $ffi;
    content:"\e008";
  }
  &:hover,&:active{
    border:2px solid $greyD;
    background-color: white;
  }
  &:focus{
    border:2px solid $mc;
    background-color: white;
  }
  &.form-city{

  }
}
}
}
@mixin section() {
  .section {
    display: inline-block;
    position: absolute;
    height: 0!important;
    background-color: white;
    color:$tc!important;
    text-indent: -99999999px!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
  }
  .reader {
    display: inline-block!important;
    position: absolute!important;
    height: 0!important;
    background-color: transparent!important;
    color:$tc!important;
    text-indent: -99999999px!important;
    border: 0!important;
  }
  a.reader{
    color:$tc!important;
  }

  .hide {
    display: none !important;
  }
}
@mixin abs() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin abs-left($left:0) {
  position: absolute;
  left: $left;
  //right:0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin abs-top() {
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  //bottom: 0;
  margin: auto;
}

@mixin abs-right() {
  position: absolute;
  //left:0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin abs-top-left() {
  position: absolute;
  left: 0;
  //right:0;
  top: 0;
  //bottom:0;
  margin: auto;
}
@mixin abs-top-right() {
  position: absolute;
  //left: 0;
  right:0;
  top: 0;
  //bottom:0;
  margin: auto;
}

@mixin abs-bot() {
  position: absolute;
  left: 0;
  right: 0;
  //top:0;
  bottom: 0;
  margin: auto;
}
@mixin clear() {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@mixin c($nNumber) {

  width: colAlone($nNumber);
  margin: auto;
  //margin-left: 0;
  display: block;
  float: none;
  @include box-sizing(border-box);

  &:after {
    @include clear();
  }
}

@mixin cf($nNumber) {

  width: colf($nNumber);
  display: block;
  float: none;
  @include box-sizing(border-box);
  margin: 0;
  &:after {
    @include clear();
  }
}

@mixin cl($nNumber) {

  width: col($nNumber);
  margin-left: gutter() / 2;
  margin-right: gutter() / 2;
  float: left;
  display: block;
  @include box-sizing(border-box);
  &:after {
    @include clear();
  }
}

@mixin cl-nm($nNumber) {

  width: colAlone($nNumber);
  float: left;
  display: block;
  @include box-sizing(border-box);
  &:after {
    @include clear();
  }
}

@mixin offsetL($nNumber) {

  margin-left: colAlone($nNumber);
}

@mixin offsetR($nNumber) {

  margin-right: col($nNumber);
}

@mixin cfl($nNumber) {

  width: colf($nNumber);
  float: left;
  margin-left:0;
  margin-right: gutter() / 2;
  display: block;
  @include box-sizing(border-box);
  //margin-top:0; 
  &:after {
    @include clear();
  }
}
@mixin cll($nNumber) {

  width: colf($nNumber);
  float: left;
  margin-left:gutter() / 2;
  margin-right: 0;
  display: block;
  @include box-sizing(border-box);
  //margin-top:0; 
  &:after {
    @include clear();
  }
}

@mixin cfl-nm($nNumber) {

  width: colAlone($nNumber);
  float: left;
  display: block;
  @include box-sizing(border-box);
  margin-top: 0;
  margin-bottom: 0;
  &:after {
    @include clear();
  }
}

@mixin cr($nNumber) {

  width: col($nNumber);
  margin-left: gutter();
  float: right;
  display: block;
  @include box-sizing(border-box);
  &:after {
    @include clear();
  }
}

@mixin cfr($nNumber) {

  width: colf($nNumber);
  float: right;
  margin-left: gutter();
  margin-right: gutter();
  display: block;
  @include box-sizing(border-box);
  &:after {
    @include clear();
  }
}

@mixin cc($nNumber) {
  display: block;
  width: col($nNumber);
  margin: auto;
  text-align: center;
  float: none;
  @include box-sizing(border-box);
  &:after {
    @include clear();
  }
}
/*l * 100 / 1024*/
