@import "variables";
@media screen and (min-width:queries($nMw / 2)){ //512px
  /* GENERAL */
  .titleKot{
    text-align: left;
  }
  /* END GENERAL */
  /* HOME */
  .home{
    .onePeople{
      @include cl(6);
    }
      /* KOTS */
      .kots{

        .kot{
          height:200px;
          .mainInfos{
            margin-bottom: 0;
            .photo{
              @include cl(4);
              height:auto;
            }
            .content{
              @include cl(6);
              height:100px;
              .typeAndLocation{
                text-align: left;
              }
              p{
                font-size: 0.9em;
              }
            }
            .special{
              @include cl(2);
              .spe{
                float:left;
                margin:0;
                &:before{
                  font-size: 1.435em;
                }
              }
            }
          }
          .addInfos{
            .star{
              @include cl(3);
              &:after{
                display:block;
                height:100%;
                visibility:visible;
              }
            }
            .howMuch{
             @include cl(3);
             &:after{
               content:"";
               height:100%;
               width:1px;
               background-color: $greyL2;
               @include abs-right();
               visibility:visible;
             } 
           }
           .locateBy{
            @include cl(6); 
            border-top: 0;
          }

        }

      }
    }
  /* END KOTS */
}
  /* END HOME */

}
@media screen and (min-width: queries(800)){
  /* HOME */
  /* BANNER */
  .addInfos{
    .topInfos{
      float:right;
    }
    .topLinks{
      display:block;
      float:left;
    }
  }
  .logo{
    float:left;
  }
  .nav{
    padding-top: $hm - $h-m;  
  }
  .whatWeDo{
    line-height: 1;
    display:inline-block;
    margin: auto;
    height:$h-m;
    line-height: $h-m;
    font-size: 1em;
    font-style: italic;
    margin:0 $pd;
    float:left;

  }
  .profilItem{
    width:auto;
    float:right;
  }
  /* END BANNER */
  /* INFOS */
  .home{
    .infos{
      @include cl(4);
    }
  }
  /* END INFOS */
  /* END HOME */
}
@media screen and (min-width: queries(( $nMw / 4) * 3)){
   /* HOME */
   .home{
    .onePeople{
      @include cl(4);
    }
  }
  /* END HOME */

}
@media screen and (min-width: queries(900)){
  /* HOME */
  .home{
    .kots{
      @include cl(8);
    }
    .kotsByCities{
      display:block;
    }
  }
  /* END HOME */
}
@media screen and (min-width: queries($nMw)){
 /* HOME */
 .home{
  .onePeople{
    @include cl(3);
  }
}
.kotsByCities{
      display:block;
      .city{
        .photo{
          max-height: 200px;
        }
      }
    }
  /* END HOME */
}
@media screen and (max-width: queries($nMw)){

}