@import "variables";
@import "mixin";
@media screen and (min-width:queries($nMw / 2)){ //512px
  /* GENERAL */

  /* END GENERAL */
  /* NAV */

  /* END NAV */

  /* HOME */
  .home{
    .onePeople{
      @include cl(6);
    }
      /* KOTS */
      .kots{

        .kot{

          .mainInfos{
            margin-bottom: 0;
            height: 80%;
            .photo{
              height:auto;
            }
            .content{
              .typeAndLocation{

              }
              p{
                font-size: 0.9em;
              }
            }
            .special{
              @include c(12);
              .spe{
                &:before{
                  font-size: 1.435em;
                }
              }
            }
          }
          .addInfos{
            .star{
              &:after{
                display:block;
                height:100%;
                visibility:visible;
              }
            }
            .howMuch{
            }
            .locateBy{

            }

          }

        }
      }
  /* END KOTS */
}
  /* END HOME */

}
@media screen and (min-width: queries(800)){
  /* GENERAL */
  .titlePopup{
    font-size: 2.168em;

  }
  /* END GENERAL */
  /* HOME */
  /* BANNER */
  .addInfos{
    .topInfos{
      float:right;
    }
    .topLinks{
      display:block;
      float:left;
    }
  }
  .logo{
    //float:left;
  }
  .banner{
    .nav{
      @include c(12);
      padding-top: $hm - $h-m;  
      padding-bottom: $pd;  
      margin-top: 0;
    }
  }
  .whatWeDo{
    line-height: 1;
    display:inline-block;
    margin: auto;
    font-size: 1em;
    font-style: italic;
    margin:0 $pd;
    line-height: 1;
    height:auto;
   // float:left;

 }
 .profilItem{
  width:auto;
    //float:left;
  }
  /* END BANNER */
  /* INFOS */
  .home{
    .infos{
      @include cl(4);
    }
  }
  /* END INFOS */
  /* END HOME */
  /* POPUP */
  $country-h:188px;
  .country-french{
    height:$country-h;
  }
  .country-english{
    height:$country-h;
  }
  .country-neederlands{
    height:$country-h;
  }
  .country-text{
    display:inline-block;
  }
  .lang-choice{
    @include cl(4);
    
  }
  /* END POPUP */
}
@media screen and (min-width: queries(( $nMw / 4) * 3)){ // 768
/* GENERAL */
.mainTitle{
  //text-align: left;
  font-size: 2.618em;
}
/* END GENERAL */
   /* HOME */
   .home{
    .onePeople{
      @include cl(4);
    }
  }
  /* END HOME */

}
@media screen and (min-width: queries(860)){
  /* HOME */
  .home{
   .kots{
    @include c(12);
  }
  .kotsByCities{
    display:block;
    margin-top: 45px + 48px;
    @include cll(4.5);
    .photo{
      max-height: 160px;
    }
  }
}
  /* END HOME */
}
@media screen and (min-width: queries(900)){
 /* BANNER */
 .logo{
  float:left;
}
.whatWeDo{
  float:left;
  display:block;
  height:$h-m;
  line-height: $h-m;
  vertical-align: baseline;
}
.menu{
  float:right;
}
 /* END BANNER */
 /* HOME */
 .home{

  .kots{
    @include c(12);
  }
  .kot{
    @include cl(4);
  }
  .kotsByCities{
    display:block;
    @include cll(4);
    .photo{
      max-height:200px;
      img{
        min-height: 100%;
      }
    }
  }
}
  /* END HOME */
}
@media screen and (min-width: queries($nMw)){
 /* HOME */
 .home{
  .onePeople{
    @include cl(3);
  }
}
.kotsByCities{
  display:block;
  .city{
    .photo{
      max-height: 200px;
    }
  }
}
  /* END HOME */
}
@media screen and (max-width: queries($nMw)){

}