@import "compass";

$h-m: 50px; //TOP BAR CONTENTS HEIGHT SIZE

$hm: 90px; //TOP BAR HEIGHT SIZE

$black:rgb(100,100,100);

$lightBlack:rgba(100,100,100,0.4);

$blackMain: #333333;

$facebook :#3A599A;

$twitter :#4EABFB;

$bgrey: #d7d7d7;

$bblue: #234c73;

$bblueD: #2C3857;

$bgreen:#3ece7b;

$bblack: #2d363e;

$bred: darken(#F27071,10%);

$gMain : rgb(20,200,30);

$cacaA : rgba(202,202,202,0.9);

$caca : rgb(202,202,202);

$blue: rgb(10,60,70);

$lBlue: rgb(10,100,200);

/* CONFIG */
$mw:1024px;

$nMw: 1024;

$gutter: 24px;

$nbG:1.618; // nombre d'or

$bh:1px solid #eee;
/* typography */
$pd: $gutter / 2;
$ff2: palatino, 'palatino lt std', 'palatino linotype', 'book antiqua', garamond, serif;

$ff:  'Helvetica Neue', Arial, sans-serif;

//$ffi: FontAwesome;
$ffi: "Flaticon";

$fs:17px; //font-size

$fsn:17; //font-size

$lh:1.5; //line-height

$tc: #3a3a3a; //text-color 333333

$menu: #f7f7f4;

$success :rgb(20,180,50);

$error: rgb(180,20,40);

$errorBackground: lighten(red,40%);

$infosBackground: lighten(yellow,40%);

$succesBackground: lighten(green,60%);
/* END typography */

/*media*/
$m1:600px;

$m2:1000px;

$m2:1200px;
/*END MEDIA*/

/*COLOR*/
//$mc: #276ded; //main color
$mc: #3270e0;
//7661b0;

$mcc: darken($mc,20%);

$footer: #353535;

$blueH : darken(#5382d9,10%);

$grey : #7c7c7c;

$greyH: darken(#494949,10%);

$greyA: #626262;

$greyL: #F2F2F2;

$greyDB:#2d292a;

$greyL2: darken(#F2F2F2,20%);

$greyL2H: darken($greyL2,10%);

$greyD:#737373;

$greyDH:darken($greyD,10%);

$greyD2:darken(#737373,5%);

$greyD2H:darken($greyD2,10%);