/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 @import "compass/reset";
 @import "icons";
 @import "compass";
 @import "compass/css3";
 @import "variables";  
 @import "flags";  
 @import "mixin";
 


//@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic");
@include body();
@include wrapper();
@include form();
@include btn();
@include section();



body {
  background-color: $greyL;
  font-family: $ff;
  font-size: $fs;
  font-weight: normal;
  line-height: 1.5;
  color: $tc;
  margin:0;
  font-smoothing: antialiased;
  height: 100%;
  //background-color: $greyL2;
  text-rendering: optimizeLegibility;
}
i{
  font-style: italic;
}
.main{
  height:100%;


}
.mainTitle{
  font-size: 2.018em;
  font-weight: bold;
  color:white;
  text-align: center;
  line-height: 1;
  margin-right: gutter() / 2;
  margin-left: gutter() / 2;
  margin-bottom: $gutter;
  margin-top: $gutter;
}
.titleText{
  font-size: 1.318em;
  color:$tc;
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1;
  .fa{
    margin-right: $pd;
  }
}
.titleKot{
  text-align: center;
  position:relative;
  font-size: 0.97em;
  @extend .titleText;
  margin-bottom: 0;
  line-height: 1.12;
  color:$tc;

  a{
    @include a(0,0,none);
    &:hover,&:focus,&:active{
      color:$mc;
    }  
  }
  
}
a{
  color:white;
  @include a($tc);
}
/* TOP BAR */
.addInfos{
  height:30px;
  line-height:30px;
  padding:0 $pd;
  background-color: $greyL;
  color:$tc;
  text-align: center;
  font-size: 0.9em;
  //max-height: 20%;
  a{
    @include a(0,0,none);
    color:$tc;
  }
  .topInfos{
    @include c(12);
    width:auto;
    display:inline-block;
    li{
      float:left;
      overflow:visible;
      a{
        padding:0 10px;
        display:inline-block;
        &:after{
          $coe: 6;
          $bh:( $h-m / $coe ) * 1.5;
          background: $greyD;
          content: " ";
          display: block;
          height: $bh;
          position: absolute;
          right: 0;
          top: ( $h-m - $bh ) ;
          width: 1px;
        }
        &:hover,&:focus,&:active{
          text-decoration: underline;
        }

      }
      &:last-child a{
        padding-right: 0;
        &:after{
          display:none;
        }
      }
    }
  }
  .topLinks{
    @extend .topInfos;
    float:left;
    display:none;
    li:first-child{
      a{
        padding-left: 0;
        display:inline-block;
      }
    }
  }
  .otherLanguages{
    @include c(12);
    display:none;
    border-bottom: 1px solid $greyL2;
    border-left: 1px solid  $greyL2;
    border-right: 1px solid $greyL2;
    border-top:1px solid white;
    position:relative;
    z-index: 20;
    background-color: $greyL;

    ul{

    }
    li{
      display:block;
      float:none;
      a{
        @include c(12);
        padding-left: 0;
        padding:0 $gutter/4;
        &:hover,&:focus,&:active{
          background-color: white;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
/* END TOP BAR */
/* TOOLS BAR */

.banner{
  @include c(12);
  min-height: $hm;
  padding:0 $pd;
  position:relative;
  background-color: white;
  //@include mb();
  margin-bottom: 0;
  color:white;
  z-index: 10;
  @include box-shadow(rgba(black,0.3) 0 3px 3px 0);
  &:after{
    background-image: image-url('framework/pattern/noise-1.png');
    width: 100%;
    height: 100%;
    display: block;
    pointer-events:none;
    position: absolute;
    top: 0;
    visibility: visible;
    left: 0;
    z-index: 99;
  }
  .wrapper{
    position:relative;
    z-index: 1;
  }
  .fa{
    margin-right: 5px;
  }
  a{
    color:white;
    @include a(0,none);
  }
  .nav{
    @include c(12);
    min-height:$hm;
    margin-bottom: 0;
    .elem{
      li{

        &:last-child{
          &:after{
            display:none;
          }
        }
        a{
          background-color: transparent;
          border:3px solid $mc;
          @include border-radius(5px);
          color:$mc;
          &:hover,&:focus,&:active{
            background-color: $mc;
            border:3px solid transparent;
            color:white;
          }
        }
      }
      .register{
       a{
        background-color: transparent;
        border:2px solid $bred;
        @include border-radius(5px);
        color:$bred;
        &:hover,&:focus,&:active{
          background-color: $bred;
          border:2px solid transparent;
          color:white;
        }
      }

    }
    .connection{
      a{
        background-color: transparent;
        border:2px solid $mc;
        @include border-radius(5px);
        color:$mc;
        &:hover,&:focus,&:active{
          background-color: $mc;
          border:2px solid transparent;
          color:white;
        }
      }

    }

    a{
      @include a(0,0,none);
      display:block;
    }
  }
}
}
.profilItem{
  @include c(12);
  height:$h-m;
  text-align: center;
  ul{
    display:inline-block;
    height:100%;
    line-height: 50px;
    li{
      height:40px;
      display:inline-block;
      vertical-align: middle;
      @include box-sizing(border-box);
      line-height:35px; 
      position:relative;
      a{
        padding:0 $hm - $h-m;
        position:relative;
       /*  &:after{
          $coe: 6;
          $bh:( $h-m / $coe ) * 2;
          background: $greyD;
          content: " ";
          display: block;
          height: $bh;
          position: absolute;
          right: 0;
          top: ( $h-m - $bh ) / $coe;
          width: 1px;
        } */
        &:hover,&:focus,&:active{
          color:$mc;
          text-decoration: underline;
        }
      }
      &:last-child a{
        &:after{
          display:none;
        }
      }
    }
  }
}
.logo{
  min-width:115px;
  //height:$h-m; 
  margin: auto;
  display:block;
  a{
    @include a(0,0,none);
    background-image: image-url('logo/logo-white-smooth.png'); 
    min-width:113px;
    //height:$h-m;
    color:$bblueD;  
    display:inline-block;
    line-height: 1;
    font-size: 55px;
    border-bottom: 3px solid transparent!important;
    //text-indent: -9999px;
    //position:absolute;
    &:hover,&:focus,&:active{
     border-bottom: 3px solid $tc!important;
   }

 }
}
.whatWeDo{
  color:white;
  display:block;
  margin: auto;
  text-align: center;
  line-height: 0;
  margin-bottom: $pd;
  font-size: 0.8em;
}
/* END TOOLS BAR*/
/* GMAP */
.map{
  position:relative;
  height:80%;
  //min-height: 600px;
  &:after{
    content:"";
    //background-image: image-url('framework/pattern/grid.png');
    @include abs();
    pointer-events:none;
    height:100%;
    width:100%;
    z-index: 20;
  }
}
#gmap{
  @include c(12); 
  height:100%;

}
.goTo{
  @include a(0,0,none);
  color:white;
  @include abs-top();
  text-align: center;
  width:120px;
  @include border-radius(50%);
  top:-40px;
  height:120px;
  background-color: $bblue;
  font-size: 1.618em;
  z-index: 21;
  overflow:hidden;

  &:hover,&:focus,&:active{
    .icon:before{
      @include translateY(5px);
      @include transition(all 0.3s ease);
    }
  }
  .icon{
    position:relative;
  }
  .icon:before{
    font-size: 1.618em;
    height:32px;
    overflow:hidden;
    line-height: 0.9;
    display:inline-block;
    max-height: 100%;
    vertical-align: top;
    @include transition(all 0.3s ease);
  }
}
  /* MAP ITEM */
  .mapItem{
    @include c(12);
    min-height:300px;
    @include abs-left();
    z-index: 100;
    width:220px;
    display:none;
    top:50px;
    bottom:10px;
    overflow:visible;
    left:$gutter;
    &:before{
      content:"";
      @include abs-top-left();
      left:-50px;
      color:$bred;
      z-index: 100;
      display:block;
      width:50px;
      height:50px;
      visibility:visible;
    }
    .accordeon{
      @include box-shadow($greyL2 0 0 10px 0);
      background-color: white;
      border:1px solid $bred;
    }
    .head{
      //@include mb();
      cursor:pointer;
      height:40px;
      text-align: left;
      line-height: 35px;
      a{
        @include c(12);
        padding:0 1em;
        height:100%;
        @include a(0,0,none);
        background-color:lighten($bred,5%);
        &:hover,&:focus,&:active{
          background-color:$bred;
        }
      }
      .titleMap{
        vertical-align: middle;
        line-height: 1.1;
        font-weight:bold;
        color:white;
        display:inline-block;
      }
    }
    .stuff{

    }
    .active{
      .head{
        a{
          background-color:$bred;
          border:2px solid darken($bred,5%);
          border-left:1px solid darken($bred,5%);
          border-right:1px solid darken($bred,5%);
          border-top:1px solid darken($bred,5%);
          &:hover,&:focus,&:active{
            background-color: lighten($bred,5%);
            border:2px solid $bred;
            border-left:1px solid $bred;
            border-right:1px solid $bred;
            border-top:1px solid $bred;
          }
        }
        
        .titleMap{
          color:white;
        }
      } 
      .content{
        display:block;
      }  
    }
    .content{
      padding:0.5em 1em;
      display:none;
    }
  }
  /* END MAP ITEM */
/* END GMAP */
/* INFOS */
.home{
  @include c(12);
  height:80%;
  padding:0;
//  background-color: $mc;
position:relative;
margin:0 auto;
background-image: image-url('framework/pattern/noise-1.png');
.residence{
  background-color: $bblue;
  padding-top: 3em;
  @include box-shadow(rgba(black,0.4) 0 -5px 10px -5px inset);
}
.informationsSupp{
  @include c(12);
  padding:3em 1em;
  background-color: $bgrey;
  @include box-shadow(rgba(black,0.4) 0 5px 10px -5px inset);
/*     background-color: white;
    @include boxShadow(); */
    color:$tc;
  }
  .infos{
    @include c(12);
  }
  .wrapper{
    padding-bottom: 3em;
    padding-left:1em;
    padding-right:1em;
  }

  .callback{
   @include c(12);
   padding:$pd 1em;
   background-color: $mc;
   
   //background-color: #195996;
   //@include boxShadow();
   color:white;
 }
 .onePeople{
  @include c(12);
  max-width: $mw / 4;
  margin:$pd auto;
  padding:$pd;
  @include transition(all 0.3s ease);
  &:hover,&:focus,&:active{
    /* background-color: lighten($bblue,10%);
    @include box-shadow(rgba(black,0.3) 0 0 7px 1px);
    @include transition(all 0.2s ease); */
  }
  .vcard{
    margin-bottom: $pd;
  }
  .photo{
    overflow:hidden;
    position:relative;
    margin-bottom: $pd;
    &:after{
      content:"";
      background-image: image-url('framework/pattern/grid.png');
      @include abs();
      height:150px;
      width:150px;
      visibility:visible!important;
      @include border-radius(50%);
    }
    img{
      @include border-radius(50%);
      display:block;
      margin: auto;


    }    

  }
  .infos{
    @include c(12);
    text-align: center;

    .name{
      font-weight: bold;
      color:$bgrey;
      font-size: 1.318em;
    }
    .address{
      font-style: italic;
      line-height: 1;
      font-size: 0.9em;
    }
  }
}
  /* KOT */
  .kots{
    @include c(12);
    margin-bottom: $gutter;
    #container{
      margin:3em auto;
    }
    .kot{
      @include c(12);
      border:1px solid $bblue;
      width: $mw / 4;
      height:auto;
     // max-width: $mw / 2 ;
     overflow:hidden;
     margin-bottom: $gutter;
     background-color: white;
     @include box-shadow(rgba(black,0.4) 0 0 8px 0);
     &.prenium{
     /* border:8px solid white;
     @include border-radius(0.5em); */
   }
   .mainInfos{
    @include c(12);
    height:auto;
    padding:$gutter / 2;
    overflow:hidden;
    max-height: 80%;
    .photo{ 
      @include c(12);
      position:relative;
      height: 150px;
      margin-bottom: gutter() / 2;
      margin-top: gutter() / 2;
      margin-bottom: $gutter / 2;
      img{
        display:block;
        width:100%;
        max-height: 100%;
      }
      /* &:after{
        content:"";
        background-image: image-url('framework/pattern/grid.png');
        width: 100%;
        height: 100%!important;
        display: block;
        pointer-events:none;
        position: absolute;
        top: 0;
        visibility: visible!important;
        left: 0;
        z-index: 99;
        @include box-shadow( black 0 0 10px 0 inset, $greyL2 0 0 1px 1px, white 0 0 1px 1px);
      } */
    }
    .content{
      @include c(12);
      max-height: 180px;
      overflow:hidden;
      text-align: center;
      height:100%;
      .typeAndLocation{
        color:$mc;
        display: inline-block;
        max-width: 100%;
        text-align: center;
        font-size: 0.8em;
        margin-bottom: 0.3em;
        line-height: 1;
        .city{
          &:after{
            font-family: $ffi;
            content: "\e008";
            visibility:visible;
            display:inline-block;
            margin-left: 5px;
          }
        }
        a{

          @include a($mc);
        }
      }
      &:after{
        content:"";
        white-space: nowrap;
      }
      p{
        text-align: left;
        color:$greyD2;

      }
    }
    .special{
      @include c(12);
      height:100%;
      text-align: center;

      .spe{
        font-family: $ffi;
        @include cl(6);
        display:inline-block;
        float:none;
        width: 30px;
        height:30px;
        &:before{
          font-size: 1.618em;
        }
      }
      .wifi{
        &:before{
          content:"\e015";    

        }
      }
      .bathroom{
        &:before{
          content:"\e000";    

        }
      }
      .kitchen{
        &:before{
          content:"\e004";    

        }
      }
      .washbasin{
        &:before{
          content:"\e013"; 
          visibility:visible;


        }
      }
    }
  }
  .addInfos{
    @include c(12);
    padding:0;
    height:auto;
    background-color: transparent;
    line-height: 1.5;
    overflow:visible;
    .muchRate{
      @include c(12);
      border-top:1px solid $greyD;
      border-bottom:1px solid $greyD;
    }
    .star{
      @include cl(6);
      text-align: center;
      height:100%;
      position:relative;
      padding:5px 0;
      &:after{
        content:"";
        height:100%;
        width:1px;
        background-color: $greyD;
        @include abs-right();
        visibility:visible;
      }
      .icons{
        @include c(12);
        .icon{
          font-family: $ffi;
          &:before{
            margin:0;
            font-size: $fs;
            min-width: $fs;


            color:$mc;
          } 
        }
        .one{
          &:before{
            content:"\e001";

          }
        }
        .half-one{
          &:before{
            content:"\e00e";

          }
        }
        .no-one{
          &:before{
            content:"";

          }
        }

      }
      .number{
        @include c(12);

      }
    }
    .locateBy{
      @include cl-nm(12);
      position:relative;
      
      height:100%;
      font-size: 1em;
      line-height: 52px;
      span{
        vertical-align: middle;
      }
      i{
        color:$mc;
      }
      &:after{
        content:"";
        height:100%;
        width:1px;
        display:none;
        background-color: $greyL2;
        @include abs-right();
        visibility:visible;
      }
      a{
        @include a($mc,solid);
      }
    }
    .howMuch{
      @include cl(6);
      position:relative;
      padding:5px 0;
      .icon{
        @include c(12);
        color:$mc;
      }
      .peoples{
        @include c(12);
      }
    }
  }

}
}
/* END KOT */
}
/* END INFOS */
/* CITIES */
.kotsByCities{
  @include c(12);
  @include boxShadow();
  height:100%;
  .city{
    @include c(12);
    margin-bottom: $gutter / 2;
    margin-top: $gutter / 2;
    position:relative;
    max-width: 512px; 
    a{
      display:block;
      width:100%;
      height:100%;
      @include a(0,0,none);
      @include transition( all 0.3s ease);
      &:hover,&:focus,&:active{
        @include transition( all 0.3s ease 0.1s);
        .photo{
          &:after{
            @include box-shadow( rgba($tc,0.4) 0 0 40px 3px inset);
            @include transition( all 0.3s ease 0.1s);
          }
        }
        img{

        }
      }
    }
    .photo{
      max-height:200px;
      position:relative;
      overflow:hidden;
      img{
        max-width: 100%;
        @include transition( all 0.5s ease-in-out);
      }
      &:after{
        content:"";
        background-image: image-url('framework/pattern/grid.png');
        @include abs();
        height:100%;
        width:100%;
        visibility:visible!important;
        @include transition( all 0.3s ease);
        @include box-shadow( $greyD 0 0 5px 0 inset);
      }
    }
    .overImage{
      @include abs-top();
      width:80%;
      @include box-shadow( $greyL2 0 0 3px 0);
      height:40%;
      top:10%;
      padding: $pd 1em;
      @include box-sizing(border-box);
      background-color: rgba(white,0.7);
      text-align: center;
      .titleCities{
        font-size: 1.272em;
        color:$tc;
        line-height: 1;
        
        font-weight: bold;
      }
    }
  }
}
/* END CITIES */
/* FOOTER */
.foot{
  @include c(12);
  background-color: $bblack;
  min-height: 250px;
  @include box-shadow(rgba(black,0.4) 0 5px 10px -5px inset);
}
/* END FOOTER */
/* LOADING MAP */
.loading{
  @include abs();
  z-index: 1;
  background-color: $bblueD;
  @include box-shadow(rgba(black,0.2) 0 5px 100px -5px inset);
}
.loadingText{
  @include abs();
  width: auto;
  height: auto;
  color:white;
  margin: auto;
  top:50%;
  font-weight: bold;
  font-size: 1.318em;
  height:50px;
  text-align: center;
}
.item {
  @include abs();
  width: 80px;
  height: 80px;
  background-color: white;

  margin: auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}


@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* END LOADING MAP */
@import "responsive";
